.slider {
  position: relative;
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.image {
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.footer-container {
  color: #fff;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  position: fixed;
  width:100%;
  bottom:0px;
}
.navbar{
  background-color: #262626;
  height: 60px;
  width: 100%;
}
.navbar-brand{
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 1.5em;
  font-family:Arial, Helvetica, sans-serif;
}


@media screen and (max-width: 720px){
  
  .navbar {
    left: 0%;
    top: -100%;
  }
  .slide.active img {
    height:720px ;
    width:435p× ;
     

  }
}



.card{
  border: 0px;
}
.card-body {
  background-color: transparent;
  height: auto;
  position: relative;
  border-radius: 0px 0px 10px 10px;
  z-index: 2;
}
.card-title{
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.card-title, .card-subtitle, .card-text{
  margin: 0px 30px;
  padding: 0 5px;
}

.buy-msg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.buy-msg {
  margin-top: 10%;
  font-size: 1.6rem;
  width: 50%;
  border-radius: 12px;
  padding: 2.5rem;
  background-color: rgba(211, 212, 209, 0.4);
}